.main-pool-container{
  padding: auto;
  margin: 0 auto;
  width: 100%;
  height: 60%;
  position: absolute;
  margin-top: -4.6em; 
  z-index: -1;
  background-image: url("/assets/PopeFrancis.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
}