<div class="other-pools-header">
  <h2>Votes</h2>
</div>
<div class="main-other-pools-container">
  <div class="other-poll-container" *ngFor="let poll of polls" [ngStyle]="{ 'background-image': 'url(' + poll.image + ')'}">
    <div class="poll-content-container">
      <div class="thumb-result">
        <div class="thumb">
          <div *ngIf="getCurrentVotesPercentage(poll.currentVotesUp+poll.currentVotesDown, poll.currentVotesUp)>=50;else thumb_down">
            <div class="thumb-up">
              <i class="far fa-thumbs-up"></i>
            </div>
          </div>
          <ng-template #thumb_down>
            <div class="thumb-down">
                <i class="far fa-thumbs-down"></i>              
            </div>
          </ng-template>
        </div>
      </div>
      <div class="poll">
        <h2 class="width-100-p">{{poll.name}}</h2>
        <p class="width-100-p poll-since">{{poll.pollSince}} in {{poll.category}}</p>
        <p class="width-100-p">{{poll.personDescription}}</p>
        <div class="thumbs-top-container">
          <div class="thumb-up">
            <i class="far fa-thumbs-up"></i>
          </div>
          <div class="thumb-down">
            <i class="far fa-thumbs-down"></i>
          </div>
          <div class="thumb-vote width-50-p">
            Vote now
          </div>
        </div>
      </div>
    </div>
    <div class="thumbs-container-bottom height-100-px">
      <div class="height-100-p thumb-up" [ngStyle]="{ 'width': getCurrentVotesPercentage(poll.currentVotesUp+poll.currentVotesDown, poll.currentVotesUp) + '%'}">
          <i class="far fa-thumbs-up"></i> {{ getCurrentVotesPercentage(poll.currentVotesUp+poll.currentVotesDown, poll.currentVotesUp) | number:'2.0-0' }} %
      </div>
      <div class="height-100-p thumb-down" [ngStyle]="{ 'width': getCurrentVotesPercentage(poll.currentVotesUp+poll.currentVotesDown, poll.currentVotesDown) + '%'}">
          {{ getCurrentVotesPercentage(poll.currentVotesUp+poll.currentVotesDown, poll.currentVotesDown) | number:'1.0-0' }} % <i class="far fa-thumbs-down"></i>
      </div>
    </div>
  </div>
</div>