<div class="main-pool-container">
  <div class="main-pool">
    <p class="main-pool-prename">What's your opinion on</p>
    <h2 class="main-pool-name">Pope Francis?</h2>
    <p class="main-pool-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis diam, varius eget nisl nec, ornare vulputate odio. Mauris elit sapien, dictum eget bibendum quis, porta pretium quam. </p>
    <p class="underline"><i class="fab fa-wikipedia-w"></i> More information</p>
    <p class="main-pool-verdict">what's Your Verdict?</p>
    <div class="thumbs-container">
      <div class="thumb-up-container">
        <p>
          <i class="far fa-thumbs-up"></i>
        </p>
      </div>
      <div class="thumb-down-container">
        <p>
          <i class="far fa-thumbs-down"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="days-container">
    <div class="missing-days-bar">
      <p>CLOSING IN</p>
    </div>
    <div class="missing-days-label-container">
      <p><strong>22</strong> days</p>
    </div>
  </div>
</div>