$background-color: #D4C4B5;
$content-width: 1000px;
$content-height: 700px;
$breakpoint: 799px;
$higher-breakpoint: 1040px;
$pool-height: 420px;
$pool-width: 25%;
$days-opacity: 0.5;
$main-text-color: white;
$thumbs-height: 70px;

.main-pool-container {
  margin: 0 auto;
  width: 100%;
  height: $content-height;
  z-index: -1;
  background-image: url("/assets/PopeFrancis.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: $background-color;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
.main-pool {
  width: $pool-width;
  height: $pool-height;
  background-color: #fffffff2;
  margin-left: 18%;
  margin-top: 5%;
  text-align: left;
  color: $main-text-color;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: $higher-breakpoint) {
    width: $pool-width + 20%;
    height: $pool-height + 120px;
    margin-top: 10%;
  }
  p,
  h2{
    width: 100%;
    @media only screen and (max-width: $higher-breakpoint) {
      margin: 0;
    }
  }
  .main-pool-prename {
    margin-bottom: 0;
  }
  .main-pool-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em;
    @media only screen and (max-width: $higher-breakpoint) {
      font-size: 2em;
    }
    @media only screen and (max-width: $breakpoint) {
      font-size: 1.5em;
    }
  }
  .main-pool-text {
    margin-right: 15%; 
    text-align: justify;
    text-justify: inter-word;
  }
  .underline {
    text-decoration: underline;
  }
  .thumbs-container{
    align-self: flex-end;
    width: 100%;
    height: $thumbs-height;
    display: flex;
    .thumb-up-container,
    .thumb-down-container{
      width: 50%;
      height: $thumbs-height;
      text-align: center;
      font-size: 2em;
      p{
        opacity: 1;
        margin-top: 0.5em;
      }
    }
    .thumb-up-container{
      background-color: rgba(211,211,211,0.3);
      &:hover{
        background: rgba(211,211,211,0.7);
      }
    }
    .thumb-down-container{
      background-color: rgba(255, 255, 0, 0.3);
      &:hover{
        background: rgba(255, 255, 0, 0.7);
      }
    }
  }
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .main-pool {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(169, 169, 169, 0.5);  
  }
}
.days-container {
  width: 100%;
  height: 60px;
  flex-grow: 1;
  display: flex;
  align-self: flex-end;
}
.missing-days-bar {
  height: 100%;
  flex-grow: 30;
  background-color: gray;
  opacity: $days-opacity;
  text-align: right;
  p {
    font-size: 0.8em;
    color: white;
    margin-right: 1em;
    margin-top: 1.7em;
  }
}
.missing-days-label-container {
  height: 100%;
  flex-grow: 70;
  background-color: white;
  opacity: $days-opacity;
  text-align: left;
  p {
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 0.7em;
    em {
      font-weight: bold;
    }
  }
}