$page-width: 1405px;
$content-width: 1282px;
$nav-width: 1282px;
$nav-height: 80px;
$other-pools-image-height: 590px;
$higher-breakpoint:991px;
$breakpoint:768px;
$lower-breakpoint:480px;
$nav-background: transparent;
$nav-background-alt: #D4C4B5;
$nav-hover-color: aqua;
$main-text-color: white;
$secondary-text-color: black;
$lighter-secondary-text-color: gray;
$message-background-color: #e4e1e1;
$link-hover-color: #99b0c7;
$positive-vote-color: rgba(211,211,211,0.7);
$negative-vote-color:rgba(255, 255, 0, 0.7);
$positive-vote-color-faded: rgba(211,211,211,0.3);
$negative-vote-color-faded:rgba(255, 255, 0, 0.3);
$days-counter-primary-color: gray;
$days-counter-secondary-color: white;

.width-100-p {
  width: 100%;
}