@import 'main';

.nav-bar {
  background-color: $nav-background;
  display: flex;
  height: $nav-height;
  color: $main-text-color;
  z-index: 999;
  max-width: $nav-width;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: $main-text-color;
  }
  .active {
    text-decoration: underline;
  }
}
.nav-bar-container{
  display: flex;
}
.nav-items-container{
  margin-left:auto;
  display:flex;
}
.nav-bar-link{
  padding-right: 8px;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &:hover {
    background-color: $nav-hover-color;
  }
  &:focus {
      outline: none;
  }
}
.nav-brand {
  padding-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 100%;
}

.nav-bar-link-toggle {
  display:none;
}

.blur-content-nav {
  position: absolute;
  width: 100%;
  height: $nav-height;
  background-color: gray;
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
  filter: blur(100px);
}
.content-container {  
  position: relative;
  margin-top:-$nav-height;
  width: 100%;
  min-height: $nav-height;
  z-index: -1;
}

footer {
  width: 100%;
  .horizontal-line-container{  
    margin: 0 auto;
    width: 65%;
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px dotted #000000;
        padding: 0;
    }
  }
  .footer-container{
    margin: 0 auto;
    width: 65%;
    display: flex;
    opacity: 0.8;
    .us-options{
      display: flex;
      justify-content: space-between;
      div {
        margin-right: 20px;
      }
    }
    .social-options{
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      div {
        margin-right: 20px;
      }
    }
  }
}


@media only screen and (max-width: $breakpoint) {
  .nav-items-container,
  .nav-bar {
    flex-direction: column;
    background-color: $nav-background-alt;
    height: 100%;
    padding: 8px;
  }
  .nav-items-container {
    margin-left: 0;
    display:none;
  }
  .nav-bar-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .nav-bar-toggle-show{
    display:flex;
  }
  .content-container {
    margin-top: 0;
  }
  footer {
    .horizontal-line-container {
      width: 100%;
    }
    .footer-container {
      flex-direction: column;
      .social-options{
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
}