<div class="page-container">
  <section class="navigation">
    <div class="nav-container">
      <div class="brand">
          <a routerLink="[./]" routerLinkActive="active">Rule of Thumb</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li *ngFor="let item of navigation">
            <a [routerLink]="[item.link]" routerLinkActive="active">{{item.label}}</a>
          </li>
          <li>
            <i class="fa fa-search"></i>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <div class="main-container">
    <div class="blur-content-nav"></div>
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="horizontal-line-container">  
      <hr/>
    </div>
    <div class="footer-container">
      <div class="us-options">
        <div>Terms and Conditions</div>
        <div>Privacy Policy</div>
        <div>Contact Us</div>
      </div>
      <div class="social-options">
        <div>Follow Us</div>
        <div><i class="fab fa-facebook fa-2x"></i></div>
        <div><i class="fab fa-twitter fa-2x"></i></div>
      </div>
    </div>
  </footer>
</div>