@import '../../main';

$speak-out-container-height:140px;
$speak-out-height:100px;


.speak-out-container {
  width: 100%;
  display: flex;
  height: $speak-out-container-height;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $lower-breakpoint) {
    height: 100%;
  }
  .speak-out {
    flex-grow: 2;
    max-width: $content-width;
    background-color: $message-background-color;
    width: 100%;
    height: $speak-out-height;
    display: flex;
    @media only screen and (max-width: $lower-breakpoint) {
      flex-direction: column;
      height: 100%;
    }
    .motto {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 25%;
      p{
        font-size: 2em;
        @media only screen and (max-width: $higher-breakpoint) {
          font-size: 1em;
        }
      }
      strong{
        font-size: 1.7em;        
        @media only screen and (max-width: $higher-breakpoint) {
          font-size: 1.7em;
        }
      }
    }
    .about{
      display: flex;
      justify-content: center;
      align-items: center;
      $content-height: $speak-out-height;
      flex-grow: 7;
      @media only screen and (max-width: $higher-breakpoint) {
        font-size: 0.8em;
      }
    }
    .cancel{
      display: flex;
      justify-content: center;
      align-items: center;
      $content-height: $speak-out-height;
      flex-grow: 1;
      padding: 8px;
    }
  }
  
}